.Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Projects > .main-sub {
  text-align: center;
}

.Projects > .main-sub > .previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3.9em;
  margin-bottom: 2.5em;
}

.Projects > .main-sub > .previews > a {
  width: 300px;
  height: 169px;
  margin-bottom: 20px;
  background-color: #2f2f2f;
  border-radius: 30px;
  border: thin solid gray;
  overflow: hidden;
}

.Projects > .main-sub > .sub-header {
  font-size: 1.5em;
}

.Projects > .main-sub > .more-info {
  font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  .Projects > .main-sub > .previews {
    margin-bottom: 4.5em;
  }

  .Projects > .main-sub > .previews > a:nth-child(2) {
    margin-left: 3em;
  }

  .Projects > .main-sub > .more-info,
  .Projects > .main-sub > .sub-header {
    font-size: 2em;
  }
}

@media screen and (min-width: 992px) {
  .Projects {
    height: 100vh;
  }

  .Projects > .main-sub > .previews > a {
    margin-left: 3em;
  }
}
