.App > .Content {
  background-color: white !important;
  color: #2f2f2f !important;
}

.name {
  font-weight: 800 !important;
}

.Content > .splash-section {
  user-select: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.3em;
  text-align: center;
  font-weight: 800;
  white-space: pre-line;
  line-height: 1.4em;
}

.Content > #about {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.Content > #about > .paragraphs {
  width: 435px;
}

.Content > #about > .profile-pic {
  width: 400px;
  border-radius: 200px;
}

.Content > #about > .paragraphs > div {
  font-size: x-large;
  font-weight: 500;
}

.Content > #about > .paragraphs > div:not(:last-child) {
  margin-bottom: 35px;
}
