.App > .Content {
  background-color: white !important;
  color: #2f2f2f !important;
}

img {
  color: white;
  width: 100%;
}

.name {
  font-weight: 800 !important;
}

.Content > .splash-section {
  user-select: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.3em;
  text-align: center;
  font-weight: 800;
  white-space: pre-line;
  line-height: 1.4em;
}

.Content > #about {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  user-select: none;
}

.Content > #about > .paragraphs {
  width: 435px;
}

.Content > #about > .profile-pic {
  width: 400px;
  border-radius: 200px;
}

.Content > #about > .paragraphs > div {
  font-size: x-large;
  font-weight: 500;
}

.Content > #about > .paragraphs > div:not(:last-child) {
  margin-bottom: 35px;
}

.Content > #projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content > #projects > .main-sub {
  text-align: center;
}

.Content > #projects > .main-sub > .previews {
  display: flex;
  margin-top: 3.9em;
  margin-bottom: 4.5em;
}

.Content > #projects > .main-sub > .previews > a {
  width: 300px;
  height: 169px;
  background-color: #2f2f2f;
  border-radius: 30px;
  border: thin solid gray;
  overflow: hidden;
}

.Content > #projects > .main-sub > .previews > a {
  margin-left: 3em;
}

.Content > #projects > .main-sub > .more-info,
.Content > #projects > .main-sub > .sub-header {
  font-size: 2.5em;
}
